body
{
    font-family: Arial, sans-serif;

}

button
{
    background-color: lavender;
    color: purple;
    padding: 10px 20px;
    border: 2px solid purple;
    border-radius: 13px;
    cursor: pointer;
}
.btn
{
    font-size: 12px;
    background-color: lightgreen;
}
